body, html {
  margin-top: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.head {
  background-image: url('/src/Assets/Images/ginkgo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 100%; 
  height: 100vh;
}
.wh{
  margin-top: 0;
  color: white;
  font-weight:bolder;
  font-size:xx-large;
  text-align: center;
}


.center-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Sinput {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
  
}
.first-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.second-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.box {
  width: 400px;
  height: 500px;
  background-color: white;
  border-color: whitesmoke;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgreen;
}



.row {
  display: flex;
  align-items:right;
  flex-direction: row;
  
}

label {
  margin-top: 0px;
  width: 100px;
  justify-content: right;
  padding-left: 3px;
  text-align: right;
  margin-right: 5px;
  color: darkgreen
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.l1{
  margin-right: 2px;
}