body, html {
  margin-top: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.head {
  background-image: url('/src/Assets/Images/ginkgo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 100%; 
  height: 100vh;
}

.search-bar {
  margin-top: 20px;
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
}

.search {
  padding: 10px;
  margin-bottom: 10px;
  background-color: darkgreen;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.center-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Sinput {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.box {
  width: 400px;
  height: 500px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgreen;
}

.seem {
  padding: 10px 20px;
  background-color:darkgreen;
  width: auto;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.row {
  display: flex;
  align-items:right;
  flex-direction: row;
  
}

label {
  margin-top: 0px;
  width: 100px;
  justify-content: right;
  
  text-align: right;
  margin-right: 10px;
  color: darkgreen
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
